{% extends "layout.html" %}

{% block content %}

<div class="container my-2">
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}
        {{form.name()}}
        <!-- Boolean Field -->
        <br>
        {{form.isAccept()}}
        {{form.isAccept.label}}
        <br>
        <!-- Radio -->
        {{form.gender.label}}
        {{form.gender()}}
        <br>
        <!-- Select -->
        {{form.skill.label}}
        {{form.skill()}}
        <br>
        <!-- <Area> -->
        {{form.address.label}}
        <br>
        {{form.address()}}
        <br>
        {{form.submit()}}
    </form>
    <hr>
    {% if session['name'] %}
        ชื่อของคุณ คือ <strong>{{session['name']}}</strong>
        <br>
        ยอมรับบริการหรือไม่ ? <strong>{{session['isAccept']}}</strong>
        <br>
        เพศ <strong>{{session['gender']}}</strong>
        <br>
        ทักษะความสามารถ <strong>{{session['skill']}}</strong>
        <br>
        ที่อยู่ <strong>{{session['address']}}</strong>
        <br>
    {% else %}
        ไม่พบข้อมูล
    {% endif %}
</div>

{% endblock %}